<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/styles.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""
      />

    <script
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""
      ></script>



    <title>Geotag Album</title>
</head>
<body>
    <div id="map"></div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="mb-4 mt-4 mx-4">
          {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg my-10">
      <h2 class="text-2xl font-bold mb-6">Upload Files</h2>
      <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" class="space-y-6">
          <div class="dropzone" id="dropzone">
              <p class="text-gray-500">Drag and drop files here or click to select files</p>
              <input type="file" id="fileInput" name="files[]" multiple class="hidden">
          </div>
          <div class="preview" id="preview"></div>
          <button type="submit" class="btn btn-primary w-full">Upload</button>
      </form>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

    {% for image in images %}

    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">{{ image.name }}</h2>
      </div>
      <figure><img src="{{ image.url }}" alt="{{ image.name }}" height="100%"></figure>
    </div>

    {% endfor %}

    </div>

    <script>
        var map = L.map("map").setView([51.504105, -0.074575], 13);
        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 19,
            attribution:
              '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          }).addTo(map);

        // Create a bounds object
        var bounds = L.latLngBounds();

         const images = {{ images | tojson }};
          images.forEach(image => {
            var marker = L.marker([image.latitude, image.longitude]).addTo(map);
            bounds.extend(marker.getLatLng());
          });

          map.fitBounds(bounds);

        const dropzone = document.getElementById('dropzone');
        const fileInput = document.getElementById('fileInput');
        const preview = document.getElementById('preview');

        dropzone.addEventListener('click', () => fileInput.click());

        dropzone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropzone.classList.add('dragover');
        });

        dropzone.addEventListener('dragleave', () => dropzone.classList.remove('dragover'));

        dropzone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropzone.classList.remove('dragover');
            const files = e.dataTransfer.files;
            fileInput.files = files; // Update the file input element
            handleFiles(files);
        });

        fileInput.addEventListener('change', (e) => {
            handleFiles(e.target.files);
        });

        function handleFiles(files) {
            preview.innerHTML = '';
            for (const file of files) {
                if (file.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        preview.appendChild(img);
                    };
                    reader.readAsDataURL(file);
                }
            }
        }
    </script>
</body>
</html>